
<%= form_with(model: @book, local: true) do |form| %>
  <div id="evaluate_stars">
    <label>Rate</label>
<% end %>
<script>
  $('#evaluate_stars').raty({
    size     : 36,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'book[star]' //登録するモデル名とカラム名を記述
  });
</script>
</div>